---
permalink: /search/
layout: page
title: Search Results
---

<link rel="stylesheet" href="../assets/css/styles-2.css" type="text/css" />
<!--
<script src="../assets/js/search.js"></script>
-->

<script>
//<![CDATA[
  
  
  var urlParams = new URLSearchParams(window.location.search);
  var page = urlParams.get("page") ?? 1;
  var resultsPerPage = 20;
  var offset = (page - 1) * resultsPerPage;
  var totalResults = 0;

  var searchEndpoint = new URL("{{site.searchgov.endpoint}}/api/v2/search/i14y");
  params = { affiliate: "{{site.searchgov.affiliate}}", 
              access_key: "{{site.searchgov.access_key}}", 
              query: urlParams.get('query') ,
              offset: offset
            }

  var searchgovParams = document.getElementById("searchgov-params");
  var currentURL = new URL(window.location.href);

  var inputElement = document.getElementById("extended-search-field-small");
      inputElement.value = urlParams.get("query");
      inputElement.focus();



  Object.keys(params).forEach(key => searchEndpoint.searchParams.append(key, params[key]));
  

  fetch(searchEndpoint).then(function(res) {
      return res.json()
    }).then(function(posts) {
      totalResults = posts.web.total;
      //console.log("Total results are : " + totalResults);

      document.getElementById('search-params').innerHTML = encodeHTML(urlParams.get('query'));
      document.getElementById("search-keyword").innerHTML = encodeHTML(urlParams.get("query"));
      document.getElementById("results-count").innerHTML = totalResults;

      if (posts.web.results.length > 0) {
        var searchResults = document.getElementById("search-results");
        if (searchResults != null){
          //console.log("searchResults are not null and offset is : " + offset);
          
          searchResults.setAttribute("start", offset + 1);
        }else{
          console.log("searchResults are null.");
        }
        document.getElementById('search-results').classList.remove('display-none');
        document.getElementById('no-results').classList.add('display-none');
        for (item in posts.web.results){
          render_result(`
            <li class="padding-bottom-5 margin-top-4 usa-prose border-bottom-05 border-base-lightest">
              <b class="title">
                <a href="${posts.web.results[item]['url']}">
                  ${posts.web.results[item]['title']
                  .replace(/\uE000/g, '<span class="bg-yellow">')
                  .replace(/\uE001/g, '</span>')}</a>
              </b>
              <div> ${posts.web.results[item]['snippet'].replace(/\uE000/g, '<span class="bg-yellow">').replace(/\uE001/g, '</span>')} </div>
            </li>
            `, true)

        }
      }
    }).catch(function(ex) {
      console.log('parsing failed', ex);
    }).finally(function(e){
      
      if(document.getElementById('search-results').childNodes.length == 0){
        document.getElementById('search-results').classList.add('display-none');
        document.getElementById('no-results').classList.remove('display-none');
        document.getElementById("results-header").classList.add("display-none");
        document.getElementById("pager").classList.add("display-none");
      }
      document.getElementById("results-header").classList.remove("display-none");
      update_pager();

    })
  

    function render_result(content, append = true){
      const previous = document.getElementById('search-results').innerHTML;
      document.getElementById('search-results').innerHTML = (append == true) ? previous + content : content;
    }

    function update_pager() {
      var page = urlParams.get("page") ?? 1;
        var pager = document.getElementById("pager");
        var pagerLinks = "";
		var totalPages = Math.ceil(totalResults / resultsPerPage);

        pager.innerHTML = "";
        
        if (page > 1){
		    pagerLinks += '<a href="' + getLinkToPage(1) + '" aria-label="First page" class="pager-button">First</a>';
        }
		
		if (totalPages > 5 && page > 5) {
			pagerLinks += '<span style="font-weight: bold;" class="margin-2">...</span>';
		}

		var start = Math.max(2, page - 3);
		for (var i = start; i < page; i++) {
			pagerLinks += '<a href="' + getLinkToPage(i) + '" aria-label="Page ' + encodeHTML(i.toString()) + '" class="pager-button">' + encodeHTML(i.toString()) + '</a>';
		}

		pagerLinks += '<span class="margin-2, pager-button-current">Page ' + encodeHTML(page.toString()) + " of " + encodeHTML(totalPages.toString()) + "</span>";
        
		var end = Math.min((totalPages - 1), ((1*page) + 3));
		for (var j = (1*page) + 1; j <= end; j++) {
			pagerLinks += '<a href="' + getLinkToPage(j) + '" aria-label="Page ' + encodeHTML(j.toString()) + '" class="pager-button">' + encodeHTML(j.toString()) + '</a>';
		}

		if (totalPages > 5 && page < totalPages - 4) {
			pagerLinks += '<span style="font-weight: bold;" class="margin-2">...</span>';
		}

        if( totalPages > 1 && page < totalPages){
            pagerLinks += '<a href="' + getLinkToPage(totalPages) + '" aria-label="Last page" class="pager-button">Last</a>';
        }		

        pagerLinks += '<div class="usa-footer__contact-info grid-row grid-gap"><div class="grid-col-auto"><p class="margin-top-0">Powered by <strong>Search.gov</strong></p></div></div>';
        
        pager.innerHTML = pagerLinks;
    }

    function getLinkToPage(pageNumber) {
        var searchParams = currentURL.searchParams;
        if (searchParams.has("page")) {
            searchParams.set("page", pageNumber);
        } else {
            searchParams.append("page", pageNumber);
        }
        return currentURL.toString();
    }

    function encodeHTML(str) {
      return str.replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#39;');
    }
//]]>
</script>

<section class="usa-graphic-list grid-container">
{% if site.searchgov %}
  <div class="display-none"
  id="searchgov-params"
  data-endpoint="{{site.searchgov.endpoint}}",
  data-affiliate="{{site.searchgov.affiliate}}",
  data-access-key="{{site.searchgov.access_key}}"
  ></div>

  <div id="results-header" class="display-none">
    <span id="results-count"></span> results for "<span id="search-keyword" class="text-bold"></span>"
  </div>

  <ol id="search-results" class="margin-left-2" class="display-none"></ol>
  <div id="no-results" class="display-none">
    <p>Sorry, no results were found for '<span id="search-params"></span>'. Try entering fewer or more general search terms.</p>
    <p>If you're having trouble finding something, please email us at <a href="mailto:fcsm@gsa.gov">fcsm@gsa.gov</a> and let us know what you're looking for.<p>
  </div>
  <div id="pager" class="text-center margin-top-5"></div>
  {% if site.searchgov.affiliate == "federalist-uswds-example" %}
    <div class="usa-alert usa-alert--info">
      <div class="usa-alert__body">
        This is an example. You will need to configure your site with search.gov to see the correct search results. To do this:
        <ol>
          <li>Create an account with Search.gov at <a class="usa-link--external" href="https://search.usa.gov/signup">https://search.usa.gov/signup</a></li>
          <li>Go to the "Activate" section and get "API Access Key"</a></li>
          <li>Open <code>_config.yml</code> and look for <code>searchgov</code> fields</li>
          <li>Add your <code>affiliate</code> and <code>access_key</code></li>
          <li>Your results will not show up immediately. Make sure you follow <a class="usa-link--external" href="https://search.gov/manual/searchgov-for-federalist.html">instructions to index your site</a>.</li>
        </ol>
      </div>
    </div>
  {% endif %}
{% else %}
  <script>
    window.location = "/";
  </script>
{% endif %}
</section>