//custom settings
$theme-hero-image: asset_url("img/hero.png");
$theme-font-path: "../fonts";
$theme-image-path: "../uswds/img";
$theme-font-role-heading: "sans";
$height-settings: (
 output: true,
 responsive: true,
 active: false,
 focus: false,
 hover: false,
 visited: false,
);
$theme-show-notifications: false;