<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          ">
          <a class="usa-footer__primary-link usa-link--external" href="https://www.gsa.gov/website-information/accessibility-aids" >Accessibility</a>
        </li>
        <li class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          ">
          <a class="usa-footer__primary-link usa-link--external" href="https://www.gsa.gov/reference/freedom-of-information-act-foia" >FOIA</a>
        </li>
        <li class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          ">
          <a class="usa-footer__primary-link usa-link--external" href="https://www.gsa.gov/website-information/website-policies" >Privacy Statement</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section padding-bottom-8">
    <!-- start section -->
    <div class="grid-container">
      <section class="grid-row">
        <div class="grid-col-12 tablet:grid-col-4">
          <h3>Related Federal Websites</h3>
          <ul class="usa-list--unstyled padding-right-4">
            <!-- <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/" >Office of Management and Budget, Office of Information and Regulatory Affairs (OMB OIRA)</a></li>
            <br>
            <br> -->

            <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.statspolicy.gov/" >Interagency Council on Statistical Policy (ICSP)</a></li>
            <br>
            <br>
            
            <li class="usa-footer__secondary-link usa-link--external"><a href="https://new.nsf.gov/funding/opportunities/methodology-measurement-and-statistics-mms" >National Science Foundation’s NSF Methodology, Measurement and Statistics (NSF MMS)</a></li>
            <br>
            <br>
            
            <li class="usa-footer__secondary-link usa-link--external"><a href="https://strategy.data.gov/" >Federal Data Strategy</a></li>
            <!--<br>
            <br>
            
            <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/statistical-programs-standards/" > OMB's Statistical Program's Standard</a></li>-->
          </ul>
        </div>
        <div class="grid-col-12 tablet:grid-col-4">
          <h3>Related Non-Federal Websites</h3>
            <ul class="usa-list--unstyled padding-right-4">
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://copafs.org/" >Council of Professional Associations on Federal Statistics (COPAFS)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.nationalacademies.org/cnstat/committee-on-national-statistics" >Committee on National Statistics (CNSTAT)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://nap.nationalacademies.org/read/24810/chapter/1" >Principles and Practices for a Federal Statistical Agency</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://jpsm.umd.edu/" >Joint Program in Survey Methodology (JPSM)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.amstat.org/" >American Statistical Association (ASA)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.aapor.org/" >American Association for Public Opinion Research (AAPOR)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.populationassociation.org/home" >Population Association of America (PAA)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.aeaweb.org/about-aea/committees/economic-statistics" >American Economic Association (aeaweb.org)</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.nber.org/programs-projects/projects-and-centers/conference-research-income-and-wealth?page=1&perPage=50" >Conference on Research in Income and Wealth | NBER</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://iussp.org/" >International Union for the Scientific Study of Population</a></li>
              <br>
              <br>
              
              <li class="usa-footer__secondary-link usa-link--external"><a href="https://www.apdu.org/" >Association of Public Data Users</a></li>
              <br>
              <br>

              <li class="usa-footer__secondary-link usa-link--external"><a href="https://washstat.org/" >Washington Statistical Society</a></li>
            </ul>
          </div>
        <div class="grid-col-12 tablet:grid-col-4">
          <div class="grid-row flex-align-center margin-y-4">
            <div class="grid-col-auto">
              <img class="usa-footer__logo-img margin-right-1 width-8" alt="Logo: White House Office of Management and Budget" src="{{ '/assets/img/exec-office-logo.png' | relative_url }}"> 
            </div>
            <div class="grid-col-fill">
              <a class="usa-link--external" href="https://www.whitehouse.gov/omb/" ><span>Office of Management and Budget</span></a>
            </div>
          </div>
          <div class="display-flex flex-column margin-y-4">
            <div class="flex-align-self-end tablet:text-right">
              <h3 class="margin-bottom-2">Contact Us:</h3>
              <p class="margin-y-1"><a href="mailto:robert.sivinski@hq.dhs.gov">robert.sivinski@hq.dhs.gov</a></p>
              <p class="margin-y-0 text-bold"><em>Last updated on {{ site.time | date: '%B %d, %Y' }}</em></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end -->    
  </div>

  <div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead"
             aria-label="General Services Administration">
        <div class="usa-identifier__container">
            <div class="usa-identifier__identity" aria-label="Agency">
                <p class="usa-identifier__identity-domain">FCSM.gov</p>
                <p class="usa-identifier__identity-disclaimer">
                    An official website of the Federal Government
                </p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links"
         aria-label="Important links,">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.whitehouse.gov/omb/"
                       class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >About OMB</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/accessibility-aids/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Accessibility support</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >FOIA requests</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >No FEAR Act data</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Office of the Inspector General</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/reference/reports/budget-performance/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Performance reports</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://www.gsa.gov/website-information/website-policies/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Privacy policy</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov"
             aria-label="U.S. government information and services,">
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">
                Looking for U.S. government information and services?
            </div>
            <a href="https://www.usa.gov/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Visit USA.gov</a>
        </div>
    </section>
</div>


</footer>