<footer class="usa-footer">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav" aria-label="Footer navigation">
      <ul class="grid-row grid-gap">
        <li class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          ">
          <a class="usa-footer__primary-link" href="https://www.gsa.gov/website-information/accessibility-aids" class="usa-link--external">Accessibility</a>
        </li>
        <li class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          ">
          <a class="usa-footer__primary-link" href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-link--external">FOIA</a>
        </li>
        <li class="
            mobile-lg:grid-col-4
            desktop:grid-col-auto
            usa-footer__primary-content
          ">
          <a class="usa-footer__primary-link" href="https://www.gsa.gov/website-information/website-policies" class="usa-link--external">Privacy Statement</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section padding-bottom-8">
    <!-- start section -->
    <div class="grid-container">
      <section class="grid-row">
        <div class="grid-col-12 tablet-lg:grid-col-4">
          <h4>Related Federal Websites</h4>
          <ul class="usa-list--unstyled padding-right-4">
            <li class="usa-footer__secondary-link"><a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/" class="usa-link--external">Office of Management and Budget, Office of Information and Regulatory Affairs (OMB OIRA)</a></li>

            <li class="usa-footer__secondary-link"><a href="https://nces.ed.gov/FCSM/index.asp" class="usa-link--external">Interagency Council on Statistical Policy (ICSP)</a></li>
            
            <li class="usa-footer__secondary-link"><a href="https://beta.nsf.gov/funding/opportunities/methodology-measurement-and-statistics-mms" class="usa-link--external">National Science Foundation’s NSF Methodology, Measurement and Statistics (NSF MMS)</a></li>
            
            <li class="usa-footer__secondary-link"><a href="https://strategy.data.gov/" class="usa-link--external">Federal Data Strategy</a></li>
            
            <li class="usa-footer__secondary-link"><a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/statistical-programs-standards/" class="usa-link--external"> OMB's Statistical Program's Standard</a></li>
          </ul>
        </div>
        <div class="grid-col-12 tablet-lg:grid-col-4">
          <h4>Related Non-Federal Websites</h4>
            <ul class="usa-list--unstyled padding-right-4">
              <li class="usa-footer__secondary-link"><a href="https://copafs.org/" class="usa-link--external">Council of Professional Associations on Federal Statistics (COPAFS)</a></li>
  
              <li class="usa-footer__secondary-link"><a href="https://www.nationalacademies.org/cnstat/committee-on-national-statistics" class="usa-link--external">Committee on National Statistics (CNSTAT)</a></li>
              
              <li class="usa-footer__secondary-link"><a href="https://nap.nationalacademies.org/read/24810/chapter/1" class="usa-link--external">Principles and Practices for a Federal Statistical Agency</a></li>
              
              <li class="usa-footer__secondary-link"><a href="https://jpsm.umd.edu/" class="usa-link--external">Joint Program in Survey Methodology (JPSM)</a></li>

              <li class="usa-footer__secondary-link"><a href="https://www.amstat.org/" class="usa-link--external">American Statistical Association (ASA)</a></li>

              <li class="usa-footer__secondary-link"><a href="https://www.aapor.org/" class="usa-link--external">American Association for Public Opinion Research (AAPOR)</a></li>

              <li class="usa-footer__secondary-link"><a href="https://www.populationassociation.org/home" class="usa-link--external">Population Association of America (PAA)</a></li>

              <li class="usa-footer__secondary-link"><a href="https://www.aeaweb.org/about-aea/committees/economic-statistics" class="usa-link--external">American Economic Association (aeaweb.org)</a></li>

              <li class="usa-footer__secondary-link"><a href="https://www.nber.org/programs-projects/projects-and-centers/conference-research-income-and-wealth?page=1&perPage=50" class="usa-link--external">Conference on Research in Income and Wealth | NBER</a></li>

              <li class="usa-footer__secondary-link"><a href="https://iussp.org/" class="usa-link--external">International Union for the Scientific Study of Population</a></li>

              <li class="usa-footer__secondary-link"><a href="https://www.apdu.org/" class="usa-link--external">Association of Public Data Users</a></li>

              <li class="usa-footer__secondary-link"><a href="https://washstat.org/" class="usa-link--external">Washington Statistical Society</a></li>
            </ul>
          </div>
        <div class="grid-col-12 tablet-lg:grid-col-4">
          <div class="grid-row flex-align-center margin-y-4">
            <div class="grid-col-auto">
              <img class="usa-footer__logo-img margin-right-1 width-8" alt="Logo: General Service Administration" src="{{ '/assets/img/gsa-logo.png' | relative_url }}" > 
            </div>
            <div class="grid-col-fill">
              <a href="https://www.gsa.gov/" class="usa-link--external"><span>General Services Administration</span></a>
            </div>
          </div>
          <div class="grid-row flex-align-center margin-y-4">
            <div class="grid-col-auto">
              <img class="usa-footer__logo-img margin-right-1 width-8" alt="Logo: White House Office of Management and Budget" src="{{ '/assets/img/exec-office-logo.png' | relative_url }}"> 
            </div>
            <div class="grid-col-fill">
              <a href="https://www.whitehouse.gov/omb/" class=" usa-link--external"><span>Office of Management and Budget</span></a>
            </div>
          </div>
          <div class="display-flex flex-column margin-y-4">
            <div class="flex-align-self-end tablet-lg:text-right">
              <h4 class="font-sans-lg margin-bottom-2">Contact Us:</h4>
              <p class="margin-y-1"><a href="mailto:mark.prell@usda.gov">mark.prell@usda.gov</a></p>
              <p class="margin-y-0 text-bold"><em>Last updated on {{ site.time | date: '%B %d, %Y' }}</em></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- end -->    
  </div>
  <div class="usa-identifier">
    <section
      class="usa-identifier__section usa-identifier__section--masthead"
      aria-label="General Services Administration"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
          <a href="" class="usa-identifier__logo"
            ><img
              class="usa-identifier__logo-img"
              src="{{ site.baseurl }}/assets/img/gsa-logo.png"
              alt="General Services Administration logo"
              role="img"
          /></a>
        </div>
        <div class="usa-identifier__identity" aria-label="Agency description">
          <p class="usa-identifier__identity-domain">fcsm.gov</p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the <a class="usa-link usa-identifier__required-link usa-link--external" href="https://www.gsa.gov/">General Services Administration</a>
          </p>
        </div>
      </div>
    </section>
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links,"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a
              href="https://www.gsa.gov/about-us"
              class="usa-identifier__required-link usa-link usa-link--external"
              >About GSA</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/website-information/accessibility-aids/" class="usa-identifier__required-link usa-link usa-link--external"
              >Accessibility support</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link usa-link--external"
              >FOIA requests</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/civil-rights-programs/the-no-fear-act-library/" class="usa-identifier__required-link usa-link usa-link--external"
              >No FEAR Act data</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/about-us/organization/gsa-office-of-inspector-general/" class="usa-identifier__required-link usa-link usa-link--external"
              >Office of the Inspector General</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/reference/reports/budget-performance/" class="usa-identifier__required-link usa-link usa-link--external"
              >Performance reports</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.gsa.gov/website-information/website-policies/" class="usa-identifier__required-link usa-link usa-link--external"
              >Privacy policy</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <section
      class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="U.S. government information and services,"
    >
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      </div>
    </section>
  </div>
</footer>