{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="carousel-container">
  <h1 class="usa-sr-only">Federal Committee on Statistical Methodology - Homepage</h1>
  <div class="carousel" id="carousel-1" auto-scroll="8000">

        <section class="carousel-screen usa-graphic-list padding-y-4 carousel-item1" role="img">
            <div class="grid-container">
                <div class="grid-gap-banner">
                        <div class="carousel-item__content padding-x-4 padding-y-6 tablet:margin-top-4 tablet:margin-x-0 margin-x-2 usa-prose">
                            <h2 class="usa-hero__heading">
                                <span class="text-primary-darker text-bold">Welcome to FCSM.gov</span>
                            </h2>
                            <p class="text-gray-70 font-sans-md tablet:font-sans-lg">The Federal Committee on Statistical Methodology (FCSM) is an interagency committee <b>dedicated to improving the quality of Federal statistics.</b></p>
                            <a class="usa-button usa-button--hover carousel-button" href="{{ site.baseurl }}/about/">View our Mission and Charter</a>
                        </div>
                </div>
            </div>
        </section>


      <section class="carousel-screen usa-graphic-list padding-y-4 carousel-item3" role="img">
          <div class="grid-container">
              <div class="grid-gap-banner">
                  <div class="carousel-item__content padding-x-4 padding-y-6 tablet:margin-top-4 tablet:margin-x-0 margin-x-2 usa-prose">
                    <h2 class="usa-hero__heading">
                        <span class="text-primary-darker text-bold">FCSM Research and Policy Conference </span>
                    </h2>
                    <p class="text-gray-70 font-sans-md tablet:font-sans-lg">The <a class="usa-link--external" href="https://fcsmconf.org/" target="_blank">2026 FCSM Research and Policy Conference</a> is scheduled for January 28 and 29 at the Suitland Federal Center. Attendance is open to federal employees.</p>
                  </div>
              </div>
          </div>
      </section>
      


      <section class="carousel-screen usa-graphic-list padding-y-4 carousel-item2" role="img" >
          <div class="grid-container">
              <div class="grid-gap-banner">
                  <div class="carousel-item__content padding-x-4 padding-y-6 tablet:margin-top-4 tablet:margin-x-0 margin-x-2 usa-prose">
                    <h2 class="usa-hero__heading">
                        <span class="text-primary-darker text-bold">FCSM Events</span>
                    </h2>
                    <p class="text-gray-70 font-sans-md tablet:font-sans-lg">The FCSM sponsors an <b>annual conference and occasionally hosts</b> seminars or workshops.</p>
                    <a class="usa-button usa-button--hover carousel-button" href="{{ site.baseurl }}/events/">View our Events</a>
                  </div>
              </div>
          </div>
      </section>


      <section class="carousel-screen usa-graphic-list padding-y-4 carousel-item4" role="img" >
          <div class="grid-container">
              <div class="grid-gap-banner">
                  <div class="carousel-item__content padding-x-4 padding-y-6 tablet:margin-top-4 tablet:margin-x-0 margin-x-2 usa-prose">
                    <h2 class="usa-hero__heading">
                        <span class="text-primary-darker text-bold">Government Advances in Statistical Program (GASP)</span>
                    </h2>
                    <p class="text-gray-70 font-sans-md tablet:font-sans-lg">GASP is a free virtual conference occurring June 24 – June 27.</p>
                    <a class="usa-button usa-button--hover carousel-button" href="https://community.amstat.org/gasp/home">2025 GASP Registration Link</a>
                  </div>
              </div>
          </div>
      </section>

      <section class="circle-container">
          <div class="circle" aria-label="slide 1" tabindex=0></div>
          <div class="circle" aria-label="slide 2" tabindex=0></div>
          <div class="circle" aria-label="slide 3" tabindex=0></div>
          <div class="circle" aria-label="slide 4" tabindex=0></div>
      </section>
      <div class="left-arrow">
          <span class="chevron left" aria-label="Previous slide" tabindex=0></span>
      </div>
      <div class="right-arrow">
          <span class="chevron right" aria-label="Next slide"  tabindex=0></span>
      </div>
  </div>
</section>