<div style="margin-left: -220px;padding-bottom: 40px;">
  <p>The Federal Committee on Statistical Methodology (FCSM) is an interagency committee dedicated to improving the quality of Federal statistics. The FCSM was created by the Office of Management and Budget (OMB) to inform and advise OMB and the Interagency Council on Statistical Policy (ICSP) on methodological and statistical issues that affect the quality of Federal data.</p>
</div>

<table width="1000" style="margin-left: -200px;">

<tr>
  
  <td width="200" valign="top"><a href="groups/safeguarddata.html"><img src="assets/img/home-1-2.png" /></a><p><center>
    <strong style="font-size: 16px;"><a href="groups/safeguarddata.html">Data Protection</a> </strong></center><br></p></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
<td>&nbsp;</td>
  <td>&nbsp;</td>
  <td width="200" valign="top"><a href="groups/dataqualitysubcommittee.html"><img src="assets/img/home-1-3.png" /></a><p><center>
    <strong  style="font-size: 16px;"><a href="groups/dataqualitysubcommittee.html">Data Quality</a></strong></center><br></p></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
<td>&nbsp;</td>
  <td>&nbsp;</td>
  </tr><tr>
  <td width="200" valign="top"><a href="groups/nonresponsebias.html"><img src="assets/img/home-3-3.png" /></a><p><center>
    <strong  style="font-size: 16px;"><a href="groups/nonresponsebias.html">Nonresponse Bias</a> </strong></center></p></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
<td>&nbsp;</td>
  <td>&nbsp;</td>
  <td width="200" valign="top"><a href="groups/sogi.html"><img src="assets/img/home-4-3.png" /></a>
  
  <p><center>
    <strong  style="font-size: 16px;"><a href="groups/sogi.html">SOGI</a></strong></center></p>
  </td>

  </tr>
  </table>