{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list margin-y-4">
  <div class="grid-container">
    <div class="margin-y-4">
      <h2><span class="font-serif-lg padding-bottom-105 padding-x-2 border-bottom-05 border-secondary-darker">Key Topics</span></h2>
    </div>

    <div class="grid-row grid-gap">
      <div class="grid-col-12 tablet-lg:grid-col-6 padding-y-2">
        <div class="usa-media-block border-2px border-base-lightest padding-1 tablet-lg:height-card-lg shadow-1">
            <img class="margin-x-205 margin-top-205" src="{{ '/assets/img/padlock.svg' | relative_url }}" alt="Icon: padlock">
            <div class="usa-media-block__body padding-top-3 padding-right-3">
              <h3 class="font-serif-lg usa-graphic-list__heading"><a href="{{site.baseurl}}/resources/safe-guard-data">Data Protection</a></h3>
              <p>Explores the challenges of providing access to data and aggregated statistics for research, evaluation, and evidence-based policymaking, while protecting the confidentiality of all related individuals and organizations.</p>
            </div>
        </div>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-6 padding-y-2">
        <div class="usa-media-block border-2px border-base-lightest padding-1 tablet-lg:height-card-lg shadow-1">
            <img class="margin-x-205 margin-top-205" src="{{ '/assets/img/bar-graph.svg' | relative_url }}" alt="Icon: bar graph">
            <div class="usa-media-block__body padding-top-3 padding-right-3">
              <h3 class="font-serif-lg usa-graphic-list__heading"><a href="{{site.baseurl}}/resources/data-quality-subcommittee">Data Quality</a></h3>
              <p>Identifies and promotes best practices for assessing and communicating data quality from surveys, administrative records, sensors, and other sources that are used individually and together in statistical estimates.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="grid-row grid-gap">
      <div class="grid-col-12 tablet-lg:grid-col-6 padding-y-2">
        <div class="usa-media-block border-2px border-base-lightest padding-1 tablet-lg:height-card-lg shadow-1">
            <img class="margin-x-205 margin-top-205" src="{{ '/assets/img/group-people.svg' | relative_url }}" alt="Icon: padlock">
            <div class="usa-media-block__body padding-top-3 padding-right-3">
              <h3 class="font-serif-lg usa-graphic-list__heading"><a href="{{site.baseurl}}/resources/non-response-bias">Nonresponse Bias</a></h3>
              <p>Develops guidelines and best practices for nonresponse bias analyses and reporting in federal surveys.</p>
            </div>
        </div>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-6 padding-y-2">
        <div class="usa-media-block border-2px border-base-lightest padding-1 tablet-lg:height-card-lg shadow-1">
            <img class="margin-x-205 margin-top-205" src="{{ '/assets/img/gender.svg' | relative_url }}" alt="Icon: bar graph">
            <div class="usa-media-block__body padding-top-3 padding-right-3">
              <h3 class="font-serif-lg usa-graphic-list__heading"><a href="{{site.baseurl}}/groups/sogi">Measuring Sexual Orientation and Gender Identity (SOGI)</a></h3>
              <p>Explores the best practices of the measurement of SOGI in the context of federal information collections.</p>
            </div>
        </div>
      </div>
    </div>

  </div>
</section>
