{% assign basedir = page.url | remove_first: '/' | split: '/' | first | lstrip %}
{% assign linkdir = include.nav_item.url |  replace: "/", ""  | lstrip %}
{% assign collapsible = include.nav_item.children.size > 0 and include.nav_item.collapsible %}
{% assign id = include.nav_item.name | replace: " ", "-" | downcase %}
{% assign active_children = include.nav_item.children | where: 'url', page.url | size %}
<li class="usa-nav__sidenav-item{% if collapsible %} usa-menu-collapsible{% endif %}" role="none">
    <a role="menuitem" class="usa-nav__link{% if ((include.nav_item.url == page.url) or include.nav_item.int_url == page.url or active_children > 0) %} usa-current{% endif %}{% if collapsible %} usa-menu-collapsible__button{% endif %}"
        {% if include.nav_item.url %}href="{{ include.nav_item.url | prepend: site.baseurl}}"{% else %} href="javascript:void(0);" {% endif %}
        {% if collapsible %}aria-controls="{{ id }}" aria-haspopup="true" aria-expanded="{% if active_children > 0 or include.nav_item.url == page.url or include.nav_item.int_url == page.url %}true{% else %}false{% endif %}" {% endif %}>{{ include.nav_item.name | escape }}</a>
    {% if include.nav_item.children.size > 0 %}
    <ul id="{{ id }}" role="group" class="usa-sidenav{% if collapsible %} usa-menu-collapsible__content{% endif %}" >
      {% for child in include.nav_item.children %}
        {% include navitem.html nav_item = child %}
      {% endfor %}
    </ul>
    {% endif %} 
</li>