{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item {% if page.url == '/resources/index/' %}active{% endif %}">
        <a href="/resources/index">Resources Summary</a>
      </li>
      <li class="usa-sidenav__item {% if page.url == '/resources/statistical-policy-working-papers/' %}active{% endif %}">
        <a href="/resources/statistical-policy-working-papers">Statistical Policy Working Papers</a>
      </li>
      <li class="usa-sidenav__item {% if page.url == '/resources/fcsm-research-conferences/' %}active{% endif %}">
        <a href="/resources/fcsm-research-conferences">FCSM Research conferences</a>
      </li>
      <li class="usa-sidenav__item {% if page.url == '/resources/FCSMConferenceSeminarProgramsPresentations/' %}active{% endif %}">
        <a href="/resources/FCSMConferenceSeminarProgramsPresentations">FCSM Statistical Policy Seminars</a>
      </li>
      <li class="usa-sidenav__item {% if page.url == '/resources/safeguarddata/' %}active{% endif %}">
        <a href="/resources/safeguarddata">Data Protection toolkit</a>
      </li>
      </li><li class="usa-sidenav__item {% if page.url == '/resources/dataqualitysubcommittee/' %}active{% endif %}">
        <a href="/resources/dataqualitysubcommittee">Data Quality</a>
      </li>
      <li class="usa-sidenav__item {% if page.url == '/resources/nonresponsebias/' %}active{% endif %}">
        <a href="/resources/nonresponsebias">Non Responsive Bias</a>
      </li>
      <li class="usa-sidenav__item {% if page.url == '/resources/sogi/' %}active{% endif %}">
        <a href="/resources/sogi">SOGI</a>
      </li>
    </ul>
  </nav>
</aside>